<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create post</title>
</head>
<body>
    <form action="https://s156888.hostiman.com/new_post/" method="post">
        <input name="title" placeholder="Название поста" type="text"><br>
        <input name="text" placeholder="Текст поста" type="text"><br>
        {% for sub in subs %}
            <input name="sub_{{ sub.title }}" value="{{ sub.title }}" type="checkbox">
        <label for="sub_{{ sub.title }}">{{ sub.title }}</label>
        {% endfor %}
        <br>
        <input name="image_url" placeholder="Картинка" type="file"><br>
        <button>Создать пост</button>
    </form>
</body>
</html>